<div class="page-content" id="citation">

	<h3>Citation</h3>
	<p>Graphics created by <%=link_to 'iconarray.com', '/' %> are provided free of charge for all academic and non-commercial uses. We ask that images used in academic works be cited as follows:</p>

	<blockquote>Images created by Iconarray.com. Risk Science Center and Center for Bioethics and Social Sciences in Medicine, University of Michigan. Accessed <%=Date.today%>.</blockquote>
	
</div>