<% i = 2 %>
<% hex = @pictograph.risks[0].hex %>
<% value = @pictograph.risks[0].value %>
$("form div.tab-content").append("<%= escape_javascript render('/risks/new_form', :i => i, :hex => hex, :value => value) %>");
$('form ul li#new-risk').before("<li><a href='#color<%=i%>' data-toggle='tab' style='background-color: <%=@pictograph.risks[0].hex%>;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>");