/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

div.content {
	padding-top: 50px;
}
div.navbar-inner {
	padding-left: 20px !important;
	background-color: #373a64;

	background-image: -moz-linear-gradient(top, #373a64, #6880a6);
	background-image: -ms-linear-gradient(top, #373a64, #6880a6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373a64), to(#6880a6));
	background-image: -webkit-linear-gradient(top, #373a64, #6880a6);
	background-repeat: repeat-x;
}
.navbar a.brand {
	font-family: arial;
	color: #ffcd3d;
	text-transform: uppercase;
	padding: 8px 20px 0 0;
	margin-left: 0;
}
.navbar img {
	float: left;
	margin: 0;
}
.navbar li.active a {
	background-color: rgba(0, 0, 100, 0.5);
}

div#branding {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
div#branding img {
	width: 150px;
}

input.hide {
	display: none;
}

.modal {
	display: none;
}

.help {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #C09853;
}

div.risk-fill {
	z-index: 999999;
	position: relative;
	margin-top: 0px;
	top: -55px;
	left: 50px;
	-moz-box-shadow: 5px 5px 3px #888;
	-webkit-box-shadow: 5px 5px 3px #888;
	box-shadow: 5px 5px 3px #888;
	width: 290px;
	min-height: 50px;
	background-color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 3px black;
	margin-bottom: -56px;
}
div.risk-fill input {
	margin: 10px 0 0 10px;
}
a.miniColors-trigger {
/*	margin-top: 10px;
*/}

span.instructions {
	color: #a9a9a9;
	font-size: .85em;
}

h3#pictograph-title {
	margin-bottom: -10px;
	padding-left: 10px;
}
h3#pictograph-title a {
	color: #a9a9a9;
}

table.pictograph {
	float: left;
	margin: 20px 20px 0 20px;
	border-collapse: separate;
}
table.pictograph td.picto-cell {
/*	display: block;*/
	position: relative;
}
table.pictograph td.picto-cell div {
/*	position: absolute;
	bottom: 0;*/
}
td.picto-axis-label {
  text-align: right;
}
.bottom-row td.picto-axis-label div {
  float:left;
  margin-right:0;
  margin-top:-20px;
  text-align:right;
  width:100%;
}

div#editor {
	margin-top: 25px;
	float: left;
	width: 410px;
}

div.tiff div#editor {
	margin-top: 125px;
	float: left;
	padding-left: 100px;
}

div#risk input {
	font-size: 24px;
	height: 28px;
	width: 60px;
}
div.field {
	margin-bottom: 20px;
}
h4.field-title {
	color: #a9a9a9;
	border-bottom: dotted 1px #a9a9a9;
	margin-bottom: 10px;
}

div.field div.field-icon {
	float: left;
	display: block;
	margin-right: 15px;
	height: 45px;
}

a.editable {
	border-bottom: dotted 1px #c3c3c3;
	cursor: url(pencil.png);
}

/* Legend */
dl, dt, dd {
	margin: 15px 0 0 0 !important;
	padding: 0;
}
div.tiff dl, div.tiff dt, div.tiff dd {
	margin: 65px 0 0 0 !important;
	padding: 0;
}
dl {
  width:100%;
  overflow:hidden;
}
dt {
	clear: left;
  float:left;
/*  width:20%; /* adjust the width; make sure the total of both is 100% */
}
dd {
  float:left;
/*  width:80%; /* adjust the width; make sure the total of both is 100% */
}


/* Actions */
div.actions {
	border-top: solid 1px #666;
	padding-top: 10px;
	width: 290px;
	margin-left: 75px;
}
div.actions a, div.actions input {
	display: block;
	float: left;
	margin: 0 5px;
}
div.actions .dropdown-toggle {
	padding-left: 0;
}
div.actions div.btn-group {
	margin-left: 200px;
}
div.actions ul.dropdown-menu {
	top: -40px;
	left: 75px;
	min-width: 0;
}

/* Bootstrap Overrides */
.radio label,
.checkbox label {
	display: inline;
}

p.help {
	margin-top: 30px;
	display: block;
	width: 280px;
	-moz-box-shadow: 3px 3px 2px #888;
	-webkit-box-shadow: 3px 3px 2px #888;
	box-shadow: 3px 3px 2px #888;
/*	float: left;
	margin-left: 120px;
	margin-top: -50px;*/
}

div.page-content {
	width: 85%;
}

div#about-image {
	float: left;
	margin: 5px 10px 0px 0;
}
input.highlight {
	border: 1px solid #C09853;
}

.tint {
	position: relative;
	float: left;
	cursor: pointer;
	padding: 0;
}
.tint img {
	margin: 0;
}
.tint:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 255, 0.8);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-ms-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}
.tint:hover:before {
	background: none;
}

img.overlay {
	position: absolute;
	top: 0;
}