table.pictograph {
	margin: 0px !important;
	float: left;
}

/* Legend */
dl, dt, dd {
	margin: 0 0 0 0 !important;
	padding: 0;
}
div.tiff dl, div.tiff dt, div.tiff dd {
	margin: 65px 0 0 0 !important;
	padding: 0;
}
dl {
  width:100%;
  overflow:hidden;
}
dt {
	clear: left;
  float:left;
/*  width:20%; /* adjust the width; make sure the total of both is 100% */
}
dd {
  float:left;
/*  width:80%; /* adjust the width; make sure the total of both is 100% */
}