<h1>Listing icons</h1>

<ul>
<% @icons.each do |icon| %>
	<li><%=image_tag icon.image.url(:large), :alt => icon.image_file_name %> <%= link_to 'X', icon, confirm: 'Are you sure?', method: :delete %></li>
<% end %>
</ul>

<br />

<%= link_to 'New Icon', new_icon_path %>
