<!DOCTYPE html>
<html>
<head>
  <title>IconArray</title>
  <meta name="description" content="Iconarray.com allows users to create tailored, embeddable icon-based risk graphics for use in risk communications, such health education materials, decision aids, and statistics education modules." />
	<meta name="keywords" content="icon array, icon, array, pictograph, picto, graph, icon graph, brian zikmund-fisher, university of michigan, cbssm, risk, risk communication, risk science, risk graphics, risk graph, risk visual, risk visualization, decision aid, decision support" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35839038-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<%= yield %>
</body>
</html>
